@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@400;700&display=swap');
.HideMbDiv{
    display: none;
}

@media only screen and (max-width: 768px) 
{

.HideMbDiv{
    display: block;
}

.NavDivMbBg{
    background: #26567B;
}


}