@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@400;700&display=swap');

.navBtn{
    width: 135px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 25px;
background: linear-gradient(180deg, #FFF 0%, #C9C9C9 100%);
box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.50);

}

.navBtn:hover{
    scale: 1.1;
}

.nav {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5); 
  }

.nav-fix{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 15px;
    width: 100vw;
    z-index: 100;


}


.nav-fix-not-scroll
{
    color: #FFF;
}


@media only screen and (max-width: 780px) {

.navBtn{
display: none;
}

.nav-fix{
    display: none;
}


}