.tncMainDiv{
    display: block;
    width: 80%;
    margin: auto;
    margin-top:11% ;
}       

.tmcMain{
    /* background-image: url("/aboutHeroNew.png"); */
    background-color: #718392;
    background-repeat: no-repeat;
 background-size: cover;   
 padding-top: 1%;
 color: white;
 padding-bottom: 100px;
}   


.tncMainDiv > h1 {
    margin-bottom: 20px;
    font-size: 50px;
    margin-top: 20px;
}


.tncMainDiv > h2 {
    margin-bottom: 20px;
    font-size: 30px;
    margin-top: 20px;
}

